@font-face {
  font-family: 'Barricada';
  src: url('/Barricada-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after, html, body, button, input, textarea, select {
  font-family: 'Barricada', serif !important;
}

/* HEADINGS FONT WEIGHT */
h1, h2, h3, h4, h5, h6, 
.giant-footer-title, 
.portfolio-heading, 
.brand-logo, 
.logo {
  font-weight: 700;
}